.feedback-user-info{
  display: flex;
}
.feedback-user-info a img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter:grayscale(1) contrast(1.2);
  -webkit-filter: grayscale(1) contrast(1.2);
  transition: all 0.5s ease-in-out;
}
.feedback-user-info a img:hover{
  box-shadow: 28px -13px rgb(36 148 219 / 61%);
  filter: none;
  transition: all 0.5s ease-in-out;
}
.image-style-thumbnail{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image-style-thumbnail:hover {
  box-shadow: 28px -13px rgb(36 148 219 / 61%);
  transition: box-shadow 0.5s ease-in-out;
}
article .field--name-name{
  margin: 35px 50px 0px 50px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
article{
  border: solid rgba(36, 148, 219, 0.61);
  padding: 30px;
  margin-top: 30px;
}
 article .field--name-created{
   font-size: 18px;
 }
article .field--name-created .field__label{
  margin-bottom: 6px;
  opacity: 0.7;
}
article .field--name-created .field__label:hover{
   opacity: 1;
 }
 .feedback-user-review{
   margin-top: 30px;
 }
 article .field--name-text{
   font-size: 18px;
   font-style: italic;
 }
article .field--name-text .field__label{
  margin-bottom: 6px;
  font-style: normal;
  opacity: 0.7;
}
article .field--name-text .field__item:first-letter{
  font-weight: bold;
  font-size: 22px;
}
article .field--name-text .field__label:hover{
  opacity: 1;
}
.feedback-user-review a img{
  width: 400px;
}
article .feedback-user-contacts {
  margin-top: 2.25rem;
}
 article .field--name-phone{
   font-size: 18px;
 }
article .field--name-phone .field__label{
  margin-bottom: 6px;
  opacity: 0.7;
}
article .field--name-phone .field__label:hover{
  opacity: 1;
}
article .field--name-email{
  font-size: 18px;
}
article .field--name-email .field__label{
  margin-bottom: 6px;
  opacity: 0.7;
}
article .field--name-email .field__label:hover{
  opacity: 1;
}
.pager{
  margin-top: 2.25rem;
}
.pager__items{
  justify-content: center !important;
}


.feedback-user-review a img{
  animation-duration: 6s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    transform: scale(0.5);
    opacity: 0;
    transition-delay: 16s;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}